<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julianna.drinkingbuddy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.julianna.drinkingbuddy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.julianna.drinkingbuddy.GameOfWar"
            android:label="@string/title_activity_game_of_war" >
            <intent-filter>
                <action android:name="com.example.julianna.drinkingbuddy.GameOfWar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.julianna.drinkingbuddy.ReglerforGameofWar"
            android:label="@string/title_activity_reglerfor_gameof_war" >
            <intent-filter>
                <action android:name="com.example.julianna.drinkingbuddy.ReglerforGameofWar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.julianna.drinkingbuddy.MoreDrinkingGames"
            android:label="@string/title_activity_more_drinking_games" >
        </activity>
        <activity
            android:name="com.example.julianna.drinkingbuddy.DetailsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.julianna.drinkingbuddy.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="com.example.julianna.drinkingbuddy.QuizActivity"
            android:label="Quiz" />

        <intent-filter>
            <action android:name="com.example.julianna.drinkingbuddy.QuizActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name="com.example.julianna.drinkingbuddy.DrinkOppskrifter"
            android:label="@string/title_activity_drink_oppskrifter" >
        </activity>
    </application>

</manifest>
